body {
  padding-left:  15px;
  padding-right: 10px;
  max-width: 800px;
  margin: auto;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", HelveticaNeue, LucidaGrande, sans-serif;
}

.navbar-brand {
  margin-top: -7px !important;
}

.navbar-nav li a {
  padding: 8px 4px;
}

.brand-photo {
  max-height:  50px;
  max-width:   50px;
}

.social-media-list {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.social-media-list li {
  max-height: 50px;
  max-width: 50px;
}

ul li em {
  color: #ff0000;
}
